
<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/logo1.png" class="logo-img"></a>
      <button id="nav-btn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarDiv">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/home" data-toggle="collapse" data-target=".navbar-collapse.show">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/about" data-toggle="collapse" data-target=".navbar-collapse.show">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/blog" data-toggle="collapse" data-target=".navbar-collapse.show">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" data-toggle="collapse" data-target=".navbar-collapse.show">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" data-toggle="collapse" data-target=".navbar-collapse.show">Login</a>
          </li>
          </ul>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>