.navbar, .navbar-nav{
    background-color: #4682B4 !important;
}
.nav-item a{
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 13px;
}
.logo-img{
    height: 50px;
    width: 75px;
}